{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
    
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>

      <p>
        <strong>ID:</strong> {{ session['user']['_id'] }}<br>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}
      </p>
    
    </div>

    <div class="card2">

      <h2 class="center">Docker Utilities</h2>

      <p>
      	<button onclick="getImages();" class="btn btn--secondary" type="button">Images</button>
	<button onclick="getContainers();" class="btn btn--secondary" type="button">Containers</button>
	<button onclick="runpop();" class="btn btn--secondary" type="button">Run a Container</button>
	<button class="btn btn--secondary" type="button">Remove a Container</button>
      </p>
    </div>
  
 <div id='rundiv' class="cardpop">

      <h1 class="center">Run a container</h1>


        <label for="name">Name</label>
        <input type="text" id="nameid" name="name" class="field" required>

        <label for="image">Image</label>
        <input type="text" id="imageid" name="image" class="field" required>

        <p class="error error--hidden"></p>

	<button type="button" onclick="runContainer();" class="btn">Run</button>
	<button type="button" style="background:red" onclick="closeRunPop();" class="btn">Close</button>



    </div>

    <div id='div1' class="card3"></div> 
 
  </div>


  <script src="/static/js/docker.js"></script>
{% endblock %}
